<!-- <ion-header>
  <ion-toolbar>
    <ion-title>home-screen</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="wrapper">
    <div class="top">
      <p>Search For a Hotel </p>
      <ion-searchbar></ion-searchbar>
</div>
<div class=""></div>
    <ion-item>
      <div class="img" style="width: 100px; ">
        <img src="assets/LAMP.jpg">
      </div>


      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </div>
  <div class="bottom"></div>
</ion-content>