

<ion-content id="container">
  <div id="main-holder">
  <div id="start-content">
  <h1><p>Welcome <br> Partner</p></h1>
  <h5><p>Please create your Account.</p></h5>
</div>




  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" #emailSignUp></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="textb " #passwordSignUp></ion-input>
  </ion-item>
<br><br>
  <ion-button color="primary" (click)="onSignUp(emailSignUp.value,passwordSignUp.value)" >Create Account</ion-button>
  <br>
  <a routerLink="/signin-user" >Already Have An Account? Login</a>
  </div>

</ion-content>

