<ion-header>
  <ion-toolbar>
    <ion-title>dashboard </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="holder">
    
    <div id="btn">
      <ion-button href="addproduct" style="width: 100px;height: 80px;--background:purple;">
        <ion-icon slot="icon-only" name="add"></ion-icon>
        <p>Add files</p>
        <!-- modal button -->
      </ion-button>
      <ion-button style="width: 100px;height: 80px;--background:red; color: white;">
        <ion-icon slot="icon-only" ></ion-icon>
        <p>Profile</p>
      </ion-button>
    </div>
    
<div class="top">
  <ion-button style="width: 70%;height: 80px;--background:white; color: black;">
    <ion-icon  ></ion-icon>
    <p>Profile</p>
  </ion-button>
</div>

<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button href="home-screen">
    <ion-icon name="arrow-back-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>
  </div>

 
</ion-content>